<div style="margin-top:15px;"><h2>WiNiBro Orders</h2></div>
<div style="display:block; margin-top:5px; font-size:medium;" class="row">
    <div class="col-lg-6">
        <p>
            WiNiBro is an online exclusive business that specialises in selling high quality
            stationery in New Zealand. We sell items from standard primary school stationery
            to the advanced university grade art and graphics design equipment for all that
            students need to achieve their goals and put their images on canvas.
            We sell a wide range of products at low and affordable prices and have monthly sales, especially when
            it comes to beginning of school sales where everyone is returning to school.
        </p>
    </div>
    <div class="col-lg-6">
        <p>
            We are a New Zealand online based business that sells exclusively to this nation and
            take pride in what we sell.  WiNiBro Stationery was formed by three people who thought
            of the idea 2 years ago during their break at Shurima Cafe. Over time their products
            became a huge success with the help of online advertising and social media spreading
            their good reputation and high end stationery all over New Zealand.
            You will not find great deals and high quality stationery no where else in
            New Zealand besides WiNiBro Staionery.
        </p>
    </div>
</div>
<div><img style="display:block; margin:auto;" src="~/Content/Stationery/Calculator.jpg" width="250" height="250" /></div>

